main {
    text-align:center;
    margin:auto;
}

h1 {
    text-align:center;
}

body {
    margin:auto;
    background:gradient, grey, dark grey;
    background-color:grey;
    text-align:center;
    color:#1a4332;
    font-family:Tahoma;
    
}


table {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}
        
tr, td {
   border: 1px solid black;
   color: black;
       
}

div{
    margin: 0 auto;
}